{{ if .Site.Params.skills.enable }}
<section class="skills">
    <div class="skills-container">
        {{ range .Site.Params.skills.categories }}
        <div class="skill-category">
            <h3>{{ .name }}</h3>
            <ul class="skill-items">
                {{ range .items }}
                <li>
                    <a href="/tags/{{ . | urlize }}/" class="skill-link">
                        <span class="skill-icon"></span>
                        {{ . }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
