{{ if .Site.Params.skills.enable }}
<section class="skills">
    <h2>{{ .Site.Params.skills.title }}</h2>
    <div class="skills-container">
        {{ range .Site.Params.skills.categories }}
        <div class="skill-category">
            <h3>{{ .name }}</h3>
            <ul class="skill-items">
                {{ range .items }}
                <li>
                    <span class="skill-icon"></span>
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
